.card-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  height: 80px;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

/* Sunrise card gradient */
.sunrise {
  background: linear-gradient(135deg, #f6d365, #fda085);
  /* orange/yellow tone */
}

/* Sunset card gradient */
.sunset {
  background: linear-gradient(135deg, #a18cd1, #fbc2eb);
  /* purple/pink tone */
}

.card .title {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 16px;
  margin: 0;
}


.card-dia {
  height: 80px;
  width: 200px;
  /* background-color: rgba(8, 102, 185, 0.979); */
  background-color: rgba(137, 190, 236, 0.211);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.card-dia h3 {
  font-size: 16px;
}

.card-dia-non {
  height: 80px;
  width: 200px;
}


/*  */
.mob-card-desc {
  display: none;
}


/* Responsive for Mobile */
@media (max-width: 480px) {
  .card-dia-non {
    display: none;
  }

  .card-dia {
    display: none;
  }

  .mob-card-desc {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: -45px;
  }

  .hide-box1 {
    display: flex;
    gap: 10px;
  }

  .title{
    color: white;
    font-size: 12px;
  }
  .card-item h3{
    color: white;
    font-size: 10px;
  }
  .card-item {
    width: 170px;
    /* background: ; */
  }
  .circle-white{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.37);
  }
/* style={{ width: "80px", height: "20px", borderRadius: "50%", backgroundColor: "rgba(255, 255, 255, 0.37)", }} */



}